[access]
	inheritFrom = All-Projects
[project]
	description = Home Device Bridge
[access "refs/*"]
	read = group GitHub Replication
[access "refs/for/*"]
	pushMerge = group gw-hdb
[access "refs/for/refs/heads/*"]
	push = group gw-hdb
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Non-Interactive Users
	pushMerge = group gw-hdb
[access "refs/heads/*"]
	abandon = group gw-hdb
	create = group gw-hdb
	forgeAuthor = group gw-hdb
	label-Code-Review = -2..+2 group gw-hdb
	submit = group gw-hdb
	editTopicName = group gw-hdb
[access "refs/meta/config"]
	read = group gw-hdb
[access "refs/tags/*"]
	pushTag = group gw-hdb
	pushSignedTag = group gw-hdb
